<div class="ui inverted page dimmer" id="dimmer"><div class="ui loader"></div></div>
<form class="ui form" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="ui clearing basic segment" style="padding: 0" id="header">
    <div style="float: right">
      <a class="ui button" id="btn-discard" (click)="resetForm()">Discard Changes</a>
      <div *ngIf="isEdit" class="negative ui button" id="btn-delete">Delete</div>
      <div class="ui buttons">
        <button class="ui primary button" id="btn-save">Save</button>
        <button class="ui floating dropdown icon primary button" id="save-dropdown" [matMenuTriggerFor]="saveMenu">
          <i class="dropdown icon"></i>
        </button>
        <mat-menu #saveMenu="matMenu">
          <div class="menu">
            <button type="button" class="item ui basic button" id="btn-trigger">
              <i class="green play icon"></i> Save &amp; Trigger Immediately
            </button>
          </div>
        </mat-menu>
      </div>
    </div>
    <h1 class="ui left floated header">
      <ng-container *ngIf="isEdit; else newJob">Edit Job</ng-container>
      <ng-template #newJob>Add Job</ng-template>
    </h1>
  </div>

  <div class="ui segment">
    <div id="job-properties">
      <div class="two fields">
        <div class="field accept-error">
          <label for="jobName">Name</label>
          <input type="text" placeholder="Name" id="jobName" formControlName="name" />
        </div>
        <div class="field accept-error">
          <label for="jobGroup">Group</label>
          <mat-select id="jobGroup" formControlName="group">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let jobGroup of jobGroups" [value]="jobGroup">
              {{ jobGroup }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="field accept-error">
        <label for="jobTypeDropdown">Class</label>
        <mat-select id="jobTypeDropdown" formControlName="type">
          <mat-option *ngFor="let jobType of jobTypes" [value]="jobType">
            {{ jobType }}
          </mat-option>
        </mat-select>
      </div>

      <div class="field accept-error">
        <label for="jobDescription">Description</label>
        <textarea id="jobDescription" rows="2" formControlName="description"></textarea>
      </div>

      <div class="field accept-error">
        <div class="ui checkbox">
          <input id="jobRecovery" type="checkbox" formControlName="recovery" />
          <label for="jobRecovery">Requests Recovery</label>
        </div>
      </div>
    </div>

    <h3 class="ui dividing header">Job Data Map</h3>
    <app-job-data-map [form]="form"></app-job-data-map>
  </div>
</form>
