<div class="daily trigger-type" [formGroup]="formGroup">
  <div class="fields">
    <div class="four wide field accept-error">
      <label for="triggerDailyRepeatInterval">Repeat Interval</label>
      <input id="triggerDailyRepeatInterval" type="text" placeholder="Repeat Interval"  />
    </div>
    <div class="three wide field accept-error">
      <label>Unit</label>
    </div>
    <div class="nine wide field accept-error">
      <label for="triggerDailyTimezone">Time Zone</label>
      <mat-select id="triggerDailyTimezone" class="ui fluid search fulltext selection dropdown allow-empty">
        <mat-option [value]="null">--- Not Set ---</mat-option>
      </mat-select>
    </div>
  </div>

  <div class="fields">
    <div class="four wide field accept-error">
      <label for="triggerDailyRepeatCount">Repeat Count</label>
      <input id="triggerDailyRepeatCount" type="text" placeholder="Repeat Count" formControlName="repeatCount" />
    </div>
  </div>

  <div class="field">
    <div class="ui checkbox">
      <input id="triggerDailyRepeatForever" type="checkbox" formControlName="repeatForever">
      <label for="triggerDailyRepeatForever">Repeat Forever</label>
    </div>
  </div>

  <div class="fields">
    <div class="four wide field accept-error">
      <label for="triggerStartTime">Start Time of Day</label>
      <div class="ui calendar time-only">
        <div class="ui fluid input left icon">
          <i class="clock alternate outline icon"></i>
          <input id="triggerStartTime" type="text" autocomplete="off" placeholder="Time" formControlName="startTime">
        </div>
      </div>
    </div>
    <div class="four wide field accept-error">
      <label for="triggerEndTime">End Time of Day</label>
      <div class="ui calendar time-only">
        <div class="ui fluid input left icon">
          <i class="clock alternate outline icon"></i>
          <input id="triggerEndTime" type="text" autocomplete="off" placeholder="Time" formControlName="endTime">
        </div>
      </div>
    </div>
  </div>

  <div class="field" formArrayName="daysOfWeek">
    <label>Days of Week</label>
    <div class="inline fields">
      <div class="field">
        <div class="ui checkbox">
          <input id="dowMonday" type="checkbox" formControlName="1" />
          <label for="dowMonday">Monday</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="dowTuesday" type="checkbox" formControlName="2" />
          <label for="dowTuesday">Tuesday</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="dowWednesday" type="checkbox" formControlName="3" />
          <label for="dowWednesday">Wednesday</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="dowThursday" type="checkbox" formControlName="4" />
          <label for="dowThursday">Thursday</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="dowFriday" type="checkbox" formControlName="5" />
          <label for="dowFriday">Friday</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="dowSaturday" type="checkbox" formControlName="6" />
          <label for="dowSaturday">Saturday</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="dowSunday" type="checkbox" formControlName="0" />
          <label for="dowSunday">Sunday</label>
        </div>
      </div>
    </div>
  </div>
</div>
