<ng-container *ngIf="historyEnabled; else historyDisabledMessage">
  <div class="ui message">
    <i class="info circle icon"></i>
    History is periodically purged. Only recent job executions are shown.
  </div>

  <app-job-history-table></app-job-history-table>
</ng-container>

<ng-template #historyDisabledMessage>
  <div class="ui negative message">
    <div class="header" style="margin-bottom: 0.5em">Job history is not available.</div>
    Enable ExecutionHistoryPlugin in Quartz configuration section.
  </div>
</ng-template>
