<div class="ui inverted page dimmer" id="dimmer"><div class="ui loader"></div></div>

<div class="dashboard" id="scheduler-dashboard" *ngIf="(data$ | async) as data">
  <div id="msg-panel"></div>

  <h3 class="ui dividing header" style="margin-top: 0">Overview</h3>

  <div class="ui inverted statistic statistics-executed">
    <div class="value"><i class="small check icon"></i> {{ data.ExecutedJobs }}</div>
    <div class="label">Jobs executed</div>
  </div>

  <div class="ui inverted statistic statistics-failed">
    <div class="value"><i class="small close icon"></i> {{ data.FailedJobs }}</div>
    <div class="label">Jobs failed</div>
  </div>

  <div class="ui inverted statistic statistics-running">
    <div class="value"><i class="small play icon"></i> {{ data.ExecutingJobs }}</div>
    <div class="label">Jobs executing</div>
  </div>

  <div class="ui statistic statistics-histogram">
    <div class="value">
      <div class="dashboard-histogram">
        <!-- TODO  {{>Histogram History}} -->
      </div>
    </div>
    <div class="label">Latest Activity</div>
  </div>

  <div class="ui statistic statistics--no-shadow">
    <div class="inline-stats">
      <span>{{ data.JobsCount }}</span> jobs<br>
      <span>{{ data.TriggerCount }}</span> triggers
    </div>
  </div>



  <div class="ui stackable grid">
    <div class="seven wide column" style="padding-right: 14px !important">
      <h3 class="ui dividing header">Status</h3>
      <table class="ui table">
        <tbody>
        <tr>
          <td style="min-width: 220px">In Standby Mode</td>
          <td>{{ data.InStandbyMode }}</td>
        </tr>
        <tr>
          <td>Running Since</td>
          <td>{{ data.RunningSince | date }} UTC</td>
        </tr>
        <tr>
          <td>Shutdown</td>
          <td>{{ data.Shutdown }}</td>
        </tr>
        <tr>
          <td>Started</td>
          <td>{{ data.Started }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="nine wide column" id="col-actions">
      <h3 class="ui dividing header">Actions</h3>

      <p style="margin-top: 1em">
        <button *ngIf="data.InStandbyMode; else notStandByButton" class="ui small button green" id="btn-start"><i class="play icon"></i>Start</button>
        <ng-template #notStandByButton>
          <button class="ui small button grey" id="btn-standby"><i class="stop icon"></i>Standby</button>
        </ng-template>
        <button class="ui small button red" id="btn-shutdown"><i class="power icon"></i>Shutdown</button>
        <button class="ui small button" id="btn-pause"><i class="pause icon"></i>Pause All</button>
        <button class="ui small button" id="btn-resume"><i class="play icon"></i>Resume All</button>
      </p>

      <!--
      {{>GroupActions items=JobGroups id='job-groups' header='Job Groups'}}
      {{>GroupActions items=TriggerGroups id='trigger-groups' header='Trigger Groups'}}
      -->
    </div>
  </div>

  <h3 class="ui dividing header">Node Info</h3>
  <table class="ui table">
    <tbody>
    <tr>
      <td style="min-width: 220px">Machine Name</td>
      <td>{{ data.MachineName }}</td>
    </tr>
    <tr>
      <td>Application</td>
      <td>{{ data.Application }}</td>
    </tr>
    <tr>
      <td>Scheduler Name</td>
      <td>{{ data.SchedulerName }}</td>
    </tr>
    <tr>
      <td>Scheduler Instance Id</td>
      <td>{{ data.SchedulerInstanceId }}</td>
    </tr>
    <tr>
      <td>Scheduler Remote</td>
      <td>{{ data.SchedulerRemote }}</td>
    </tr>
    <tr>
      <td>Scheduler Type</td>
      <td>{{ data.SchedulerType.AssemblyQualifiedName}}</td>
    </tr>
    <tr>
      <td>Version</td>
      <td>{{ data.Version }}</td>
    </tr>
    </tbody>
  </table>

  <h3 class="ui dividing header">Job Store</h3>
  <table class="ui table">
    <tbody>
    <tr>
      <td style="min-width: 220px">Job Store Clustered</td>
      <td>{{ data.JobStoreClustered }}</td>
    </tr>
    <tr>
      <td>Job Store Supports Persistence</td>
      <td>{{ data.JobStoreSupportsPersistence }}</td>
    </tr>
    <tr>
      <td>Job Store Type</td>
      <td>{{ data.JobStoreType.AssemblyQualifiedName }}</td>
    </tr>
    </tbody>
  </table>

  <h3 class="ui dividing header">Thread Pool</h3>
  <table class="ui table">
    <tbody>
    <tr>
      <td style="min-width: 220px">Thread Pool Size</td>
      <td>{{ data.ThreadPoolSize }}</td>
    </tr>
    <tr>
      <td>Thread Pool Type</td>
      <td>{{ data.ThreadPoolType.AssemblyQualifiedName }}</td>
    </tr>
    </tbody>
  </table>

</div>

<div class="ui mini modal" id="shutdown-dialog">
  <div class="content">
    <p>Are you sure you want to shut down Quartz Scheduler?</p>
    <p>This action <b>is not reversible</b> which means, you will not be able to connect to this page any more!</p>
  </div>
  <div class="actions">
    <div class="ui approve red button">Shutdown</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>

<script>
  initHistogramTooltips($('.histogram > .bar'));
  initDimmer();

  function doAction(content) {
    $('#dimmer').dimmer('show');

    $.ajax({
      type: 'POST', url: '{{ActionUrl "Action"}}',
      data: JSON.stringify(content),
      contentType: 'application/json', cache: false,
      success: function () {
        document.location = '{{ActionUrl ""}}';
      },
      error: function (e) {
        $('#dimmer').dimmer('hide');
        prependErrorMessage(e, $('#msg-panel'));
      }
    });
  }

  function confirmDialog(dlg, action) {
    dlg.modal({ duration: 250, onApprove: function () { doAction({ action: action }); } })
      .modal('show');
  }

  // event handlers
  $('#btn-shutdown').click(function () { confirmDialog($('#shutdown-dialog'), 'shutdown'); });
  $('#btn-pause').click(function () { doAction({ action: 'pause' }); });
  $('#btn-resume').click(function () { doAction({ action: 'resume' }); });
  $('#btn-standby').click(function () { doAction({ action: 'standby' }); });
  $('#btn-start').click(function () { doAction({ action: 'start' }); });

  $(document).on('click', '#job-groups.group-actions button, #trigger-groups.group-actions button', function () {
    doAction({ action: $(this).data('action'), name: $(this).data('name'), groups: $(this).closest('.group-actions').attr('id') });
  });

</script>
