<div class="ui top inverted stackable menu main-menu">
  <div class="ui container">
    <div class="ui header item">
      <img class="logo" src="assets/images/logo.png">Quartzmin
    </div>

    <nav>
      <ng-container *ngFor="let item of menuItems">
        <a [routerLink]="item.route">{{ item.name }}</a>
      </ng-container>
    </nav>

    <!--
    <div class="right menu">
        <div class="ui dropdown item">
            <i class="user circle large icon"></i>
            domain\user
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item center" href="#">Logout</a>
            </div>
        </div>
    </div>
    -->
  </div>
</div>
