<div class="ui top inverted stackable menu main-menu">
  <nav class="ui container">
    <div class="ui header item">
      <img class="logo" src="assets/images/logo.png">Quartzmin
    </div>

    <ng-container *ngFor="let item of menuItems">
      <a [routerLink]="item.route" class="item" [routerLinkActive]="'active'">{{ item.name }}</a>
    </ng-container>

    <!--
    <div class="right menu">
        <div class="ui dropdown item">
            <i class="user circle large icon"></i>
            domain\user
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item center" href="#">Logout</a>
            </div>
        </div>
    </div>
    -->
  </nav>
</div>
