<div class="ui inverted page dimmer" id="dimmer"><div class="ui loader"></div></div>
<form class="ui form" id="form" method="post" enctype="multipart/form-data">
  <div class="ui clearing basic segment" style="padding: 0px" id="header">
    <div style="float: right">
      <a class="ui button" id="btn-discard" href="{{ActionUrl ''}}">Discard Changes</a>
      {{#unless ViewBag.IsNew}}
      <div class="negative ui button" id="btn-delete">Delete</div>
      {{/unless}}
      <div class="ui primary button" id="btn-save">Save</div>
    </div>
    <h1 class="ui left floated header">
      {{#if ViewBag.IsNew}}Add Calendar{{else}}Edit Calendar{{/if}}
    </h1>
  </div>

  <input type="hidden" name="isNew" value="{{ViewBag.IsNew}}" />

  <div id="msg-panel"></div>

  <div class="ui segments" id="seg-root"></div>
</form>
