.empty-page__container {
  text-align: center;
  color: #dedede;
}

.empty-page__icon-wrapper {
  font-size: 6em;
  font-weight: bold;
  margin: 1em;
}

.empty-page__icon {
  height: auto;
}

.empty-page__text {
  font-size: 2em;
}

.empty-page__small-text {
  font-size: 1em;
  margin-top: 1em;
}

