#============================================================================
# Configure Main Scheduler Properties
#============================================================================
# You can configure your scheduler in either <quartz> configuration section
# or in quartz properties file
# Configuration section has precedence

quartz.scheduler.instanceName = ServerScheduler
quartz.scheduler.instanceId = AUTO    

#============================================================================
# Configure ThreadPool
#============================================================================
# quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
# quartz.threadPool.threadCount = 10

#============================================================================
# Configure JobStore
#============================================================================
quartz.jobStore.misfireThreshold=60000
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz
quartz.jobStore.dataSource = default
quartz.jobStore.tablePrefix = qrtz_

#============================================================================
# Configure Datasources
#============================================================================
quartz.dataSource.default.provider = Npgsql
quartz.dataSource.default.connectionString = User ID=postgres;Password=Asztal15;Host=ztg-srv;Port=5432;Database=ZtgAts;

#quartz.serializer.type = json
    
# quartz.dbprovider.Npgsql.productName=Npgsql
# quartz.dbprovider.Npgsql.assemblyName=Npgsql
# quartz.dbprovider.Npgsql.connectionType=Npgsql.NpgsqlConnection, Npgsql
# quartz.dbprovider.Npgsql.commandType=Npgsql.NpgsqlCommand, Npgsql
# quartz.dbprovider.Npgsql.parameterType=Npgsql.NpgsqlParameter, Npgsql
# quartz.dbprovider.Npgsql.parameterDbType=NpgsqlTypes.NpgsqlDbType, Npgsql
# quartz.dbprovider.Npgsql.parameterDbTypePropertyName=NpgsqlDbType
# quartz.dbprovider.Npgsql.parameterNamePrefix=:
# quartz.dbprovider.Npgsql.exceptionType=Npgsql.NpgsqlException, Npgsql
# quartz.dbprovider.Npgsql.useParameterNamePrefixInParameterCollection=true
# quartz.dbprovider.Npgsql.bindByName=true

    