.group-actions {
  float: left;
  margin-right: 10px;
}


.group-actions ul {
  margin: 5px 0;
  list-style:none;
  padding-left: 16px;
}

.group-actions li {
  clear: both;
  margin: 0;
  padding: 0;
}

.group-actions li .ui.button {
  margin: 0 4px;
  float: right;
}

.group-actions li.paused:before,
.group-actions li.resumed:before {
  position: absolute;
  font-size: 11px;
  font-family: Icons;
  font-style: normal;
  margin-left: -1.2em;
  margin-top: 0.1em;
}

.group-actions li.paused:before {
  content: "\f04c";
  color: #e6b800;
}

.group-actions li.resumed:before {
  content: "\f111";
  color: #21ba45;
}
